:root {
    --primaryColor: hsl(273, 60%, 60%);
    --secundayColor: hsl(273, 60%, 45%);
    --borderRadius: 8px;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: sans-serif;
    background-color: var(--primaryColor);
}

ul {
    padding: 0;
    list-style: none;
}

input {
    margin-right: 1rem;
}

.toDoList {
    padding: 2rem;
    border-radius: var(--borderRadius);
    background-color: var(--secundayColor);
}

.toDoList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDoList .removeTask {
    width: .8rem;
    height: .8rem;
    border-radius: 4px;
    background-color: red;
    cursor: pointer;
}